@using TravelTripProje.Models.Sınıflar
@model List<Iletisim>
@{
    ViewBag.Title = "MesajGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Mesajlar</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>AD SOYAD</th>
            <th>MAİL</th>
            <th>KONU</th>
            <th>MESAJ</th>
            <th>SİL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.ID</td>
                <td>@item.AdSoyad</td>
                <td>@item.Mail</td>
                <td>@item.Konu</td>
                <td>@item.Mesaj</td>
                <td><a href="/Admin/MesajSil/@item.ID" class="btn btn-danger">SİL</a></td>
            </tr>
        }
    </tbody>
</table>
